@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@font-face { font-family: 'Da Mad Rave'; src: url('../fonts/DaMadRave.ttf'); }
@font-face { font-family: 'Darktech LDR'; src: url('../fonts/darktech_ldr.ttf'); }
@font-face { font-family: 'xolonium'; src: url('../fonts/xolonium-bold.ttf'); }

.clearfix:after {content: "."; display: block; clear: both;	visibility: hidden;	line-height: 0;	height: 0;}
.clearfix {	display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

body { color:#555; background-color: #5b5b5b; font-family:'Open Sans', helvetica, sans-serif; position:relative; margin:0px; padding:0px; }
	body.space1 { background:url('../images/space-1.jpg'); }
	body.space2 { background:url('../images/space-2.jpg'); }
	body.space3 { background:url('../images/space-3.jpg'); }
	body.space4 { background:url('../images/space-4.jpg'); }
	
.wrapper { max-width:1095px; margin:0px auto;}

header { height:188px; position:relative; }
.logo { position:absolute; top:10px; left:-1px; background:url('../images/header.png') no-repeat; height:178px; width:707px; }
	.logo a { display:block; height:126px; width:700px; }
	.logo span { text-indent:-999999999px; display:block; }
nav { background:url('../images/nav-bg.png') no-repeat 0 5px; height: 47px; width:1095px; position: absolute; top: 146px; }
	nav ul { margin:0px; padding:0px; list-style-type:none; margin-left:194px; }
	nav li { display: inline-block; vertical-align:top; }
	nav a { color: #00aadd; font-family:"Da Mad Rave"; margin-left:-38px; font-size:36px; text-decoration:none; padding:0 0 0 44px; min-width:88px; transition:width 1s; line-height:47px; white-space:nowrap; overflow:hidden; display:block; background:url('../images/nav-btn-bg.png') no-repeat 0 0; position:relative; }
		nav a.active,
		nav a:hover { color: #007294; }
		nav a div { display:inline-block; vertical-align:top; text-shadow:-3px 2px 2px #888888; }
		nav a span { font-family: 'xolonium'; font-size:17px; color:#fff; position:relative; left:27px; top: -2px; display:inline-block; text-align:center; overflow:hidden; }
		nav a:hover span { margin-right:47px; transition:margin-right 1s; }
main { position:relative; }
.main-bg { background:url('../images/content-frame-bg.png'); bottom: 4px; position: absolute; top: 62px; width: 100%; z-index: -1; }
	.mainInner { background:url('../images/content-frame-top.png') no-repeat; padding:55px 25px 60px;  }
h1 { background: url("../images/h1-pre.png") no-repeat; color: #fff; font-family: 'Da Mad Rave'; font-size: 32px; line-height: 32px; padding-left: 89px; }
h2 { color:#fff; background: url("../images/result-pre.png") no-repeat; color: #fff; font-family: 'Da Mad Rave'; font-size: 19px; line-height: 19px;  padding-left: 54px; margin:0 0 15px; }
h3 { color: #00aadd; font-size:21px; font-family:'xolonium'; margin:0 0 5px; background:url('../images/bullet.png') no-repeat 0px 5px; padding-left: 22px; }
h4 { font-size:16px; font-family:'xolonium'; margin:0; }
footer { background:url('../images/content-frame-bot.png') no-repeat; height: 37px; margin:-30px 0 40px 0; position:relative;}
.preThin { background:url('../images/content-frame-bot-pre-thin.png') no-repeat; padding-left:44px; line-height:17px; font-family:'Darktech LDR'; font-size:22px; color:#fff; position:absolute; top:4px; right:0px; width:630px; }
.preThick { background:url('../images/content-frame-bot-pre-thick.png') no-repeat; height:17px; width:41px; position:absolute; left:13px; }

.log, 
.error { text-align:center; margin-bottom:15px; font-size:21px; color:#fff; font-family: "xolonium"; padding:2px 15px; display:none;  }
    .log:before,
    .error:before { top: 0; left: 0; border-top: 10px solid #333; }
	.log:after,
    .error:after { bottom: 0; right: 0; border-right: 10px solid #333; }

.log { background-color:#0ad; }
    .log:before { border-right: 10px solid #0ad; }
	.log:after { border-top: 10px solid #0ad; }

.error { background-color:#f00; }
    .error:before { border-right: 10px solid #f00; }
	.error:after { border-top: 10px solid #f00; }

.corners { position:relative; }
	.corners:before { content: ""; position: absolute; width: 0;}
	.corners:after { content: ""; position: absolute; width: 0; }

.whiteBox { background: white; padding:5px 10px; }
	.whiteBox:before { top: 0; left: 0; border-top: 10px solid #333; border-right: 10px solid white; }
	.whiteBox:after { bottom: 0; right: 0; border-right: 10px solid #333; border-top: 10px solid white; }

.generate { max-width:590px; margin-bottom:15px; display:block; position:relative; }
    .genFields { display:none; margin:0 0 40px 23px; }
	.genToggle { position: absolute; top:0px; right:10px; width:50px; color: #00aadd; font-family: "xolonium"; font-size: 30px; text-align:center; cursor:pointer; }
	.generate .submit { display: none; }

.testForm { margin-bottom:15px; }
.suiteWrap { max-width:620px; display:inline-block; vertical-align:top; }

.subtext { color:#00aadd; font-size:18px; font-family:'xolonium'; margin-bottom:15px; }

.testInputs { margin:0 0 40px 23px; }

.submit { background-color: #00aadd; display:inline-block; position:absolute; right:10px; bottom:10px; cursor:pointer; }
    .submit:hover { background-color: #555; }
    .submit:before { top: 0; left: 0; border-top: 10px solid #fff; border-right: 10px solid #00aadd; }
        .submit:hover:before { border-right: 10px solid #555; }
	.submit:after { bottom: 0; right: 0; border-right: 10px solid #fff; border-top: 10px solid #00aadd; }
        .submit:hover:after { border-top: 10px solid #555; }
    .submit input { border:0px; background-color:transparent; color:#fff; font-size:16px; padding:7px 9px 0 0px; text-transform:uppercase; font-family:'xolonium'; cursor:pointer; }

.resultWrap { display:inline-block; vertical-align:top; margin-left:20px; width:400px; }
	.resultWrap h2 { position: relative; }    
	.resultCounter { position:absolute; right:30px; top:0px;}
.resultSet { max-height:600px; overflow:auto; margin:10px 0 5px; }
.result { background-color:#fff; padding:10px; line-height:12px; margin:0 10px 6px 0; }
    .result:before { top: 0; left: 0; border-top: 10px solid #333; border-right: 10px solid white; }
	.result:after { bottom: 0; right: 0; border-right: 10px solid #333; border-top: 10px solid white; }
	.result-head { background:url('../images/result-top.png') no-repeat 0 0px; height:18px; }
    .result-foot { background:url('../images/result-bot.png') no-repeat 0 0px; height:18px; }

    .ind { display: inline-block; height: 25px; vertical-align: top; width: 50px; margin:0 5px 5px 0; }
        .ind:before { top: 0; left: 0; border-top: 5px solid #fff; }
	    .ind:after { bottom: 0; right: 0; border-right: 5px solid #fff; }
	.Success .ind { background-color: #d4fce0; }
        .Success .ind:before { border-right: 5px solid #d4fce0; }
	    .Success .ind:after { border-top: 5px solid #d4fce0; }
    .Failure .ind { background-color: #f1baba; }
        .Failure .ind:before { border-right: 5px solid #f1baba; }
	    .Failure .ind:after { border-top: 5px solid #f1baba; }
    .Error .ind { background-color: #ffe0af; }
        .Error .ind:before { border-right: 5px solid #ffe0af; }
	    .Error .ind:after { border-top: 5px solid #ffe0af; }
    .Skipped .ind { background-color: #afbeff; }
        .Skipped .ind:before { border-right: 5px solid #afbeff; }
	    .Skipped .ind:after { border-top: 5px solid #afbeff; }
    
    .rSite { font-size:12px; text-transform:uppercase; display:inline-block; max-width:315px; line-height:25px; }
    .rMethod { font-size:14px; display:inline-block; line-height:25px; margin-right:10px; }
	.rMethod:after { content:"\2014"; padding-left:10px; }
    .rResult { font-size:10px; display:inline-block; font-weight:bold; }

.testInputs input { display:inline-block; margin:5px 0 0; vertical-align:top; }
.testInputs label { display:inline-block; vertical-align:top; }

.wtEnvs,
.wtSystems,
.wtSites { display:inline-block; vertical-align:top; margin-bottom:15px; }
.wtEnvs { width:200px; margin-right:10px; }
.wtSystems { width:160px; margin-right:10px; }
.wtSites { width:170px; }
    .systemName { font-size:12px; display:block; }
.utTests,
.wtTests { margin:0 0 15px 0; }

.resultList { margin-bottom: 15px; }
	.testResult { border-bottom:1px solid #00aadd; padding:5px 10px; }
	.testResult:last-child { border: 0px; }
		.resultDate { font-weight:bold; display:inline-block; margin-right:5px; }
		.resultMethod { display:inline-block; margin-right:5px; }
		.resultType { display:inline-block; margin-right:5px; }
		.tSuccess { color:#00fc4c; }
		.tFailure { color:#f10000; }
		.tError { color:#ff9c00; }
		.tSkipped { color:#0030ff; }
		.resultMessage { background: #00aadd; color: #fff; margin: 4px 0; padding: 5px 10px; }
h3 span { color:#555; }
.pagerWrap { margin-bottom:15px; }
.prevPage, 
.nextPage { color:#00aadd; font-family:"xolonium"; text-decoration:none; display:inline-block; }
.prevPage { margin-right:15px; }
ol li { font-weight:bold; }