Sitecore.TestStar.UI/obj/
Sitecore.TestStar.Core/obj/
Sitecore.TestStar.UI/bin/
Sitecore.TestStar.TestLauncher/obj/
Sitecore.TestStar.Core/bin/
Sitecore.TestStar.WebTests/obj/
Sitecore.TestStar.WebTests/Sitecore.TestStar.WebTests.csproj.user
