<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<sites>
			<site patch:before="*[@name='website']"
				  name="TestStar"
				  hostName="teststar.local"
				  virtualFolder="/"
				  physicalFolder="/"
				  rootPath="/sitecore/content"
				  startItem="/TestStar/Home"
				  database="web"
				  domain="extranet"
				  allowDebug="true"
				  cacheHtml="true"
				  htmlCacheSize="10MB"
				  registryCacheSize="0"
				  viewStateCacheSize="0"
				  xslCacheSize="5MB"
				  filteredItemsCacheSize="2MB"
				  enablePreview="true"
				  enableWebEdit="true"
				  enableDebugger="true"
				  disableClientData="false">
			</site>
		</sites>
		<settings>      
      <setting name="TestStar.SiteTemplate" value="{2FDA2A39-357F-42F0-B97C-DEED4F935F7B}"/>
      <setting name="TestStar.SystemTemplate" value="{F94502A7-D76E-468C-8488-3397368AFDD2}"/>
      <setting name="TestStar.ResultsFolderTemplate" value="{98CDE7D8-3488-43B6-8773-D140DDEBAB51}"/>
      <setting name="TestStar.ResultsListTemplate" value="{1915F851-227B-430C-88D0-373B85AFFBEE}"/>
      <setting name="TestStar.UnitTestResultTemplate" value="{6BBECB0C-2A2D-4BE6-B9D2-24D17104A2C5}"/>
      <setting name="TestStar.WebTestResultTemplate" value="{09F4C9EF-7E9E-4980-80EE-6E520A24332E}"/>
      <setting name="TestStar.EnvironmentFolder" value="{3449A8FD-6516-4011-B0C5-46DCC4DCA208}"/>
      <setting name="TestStar.SiteFolder" value="{6B336815-7E53-454A-817E-FA52E4D6F33E}"/>
      <setting name="TestStar.ResultsFolder" value="{2789CBEA-390F-4EB3-8FE0-1752A800E720}"/>
      <setting name="TestStar.UnitAssemblies" value="{AE46FAEF-CAF6-45EA-9B52-516F1CCA5919}"/>
      <setting name="TestStar.WebAssemblies" value="{5AECEFE8-0A4E-4FF6-B498-B340B1050D0E}"/>
      <setting name="TestStar.TextDictionary" value="{EB0E6702-40D8-4DA1-B276-C3771F24F9E5}"/>
    </settings>
	</sitecore>
</configuration>